<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>我的案件客服</h1>
  <p>案件編號：{{ ticket_number }}</p>
  {% if not submitted %}
    <form action="{% url 'ticket_list' %}" method="post">
      {% csrf_token %}
      <p>案件分類</p>
      <input type="radio" id="course" name="category" value="課程" required>
      <label for="course">課程</label>
      <input type="radio" id="material" name="category" value="教材">
      <label for="material">教材</label>
      <input type="radio" id="video" name="category" value="影片">
      <label for="video">影片</label>
      <input type="radio" id="logistics" name="category" value="物流">
      <label for="logistics">物流</label>
      <input type="radio" id="enrollment" name="category" value="報名">
      <label for="enrollment">報名</label>
      <input type="radio" id="other" name="category" value="其他">
      <label for="other">其他</label>
      <textarea name="question" placeholder="請輸入您的問題" rows="3" cols="40" required></textarea>
      <input type="submit" value="送出">
    </form>
  {% else %}
    <p>案件分類：{{ category  }}</p>
    <p>你送出的問題：{{ question }}</p>
  {% endif %}

</body>
</html>